*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* background: #5b64ad; */
    background: #031d2afa;
    scroll-behavior: smooth;

   
    
    
    /* font-family: 'Montserrat', sans-serif; */
}
img {
    width: 100%;
}
.stars{
    /* width: 28rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* .stars{
  display: flex;
   
} */
.str{
    width: 4rem;
    position: fixed;
    animation: blinker 5s linear infinite;
    
}
.image_one .Eid{
    animation: blin 0s linear infinite;
}
.star_1{
    position: absolute;
    inset: -3rem 40rem 0;
}
.star_2{
    position: absolute;
    inset: 5rem 25rem 0;
}
.star_3{
    position: absolute;
    inset: 10rem 43rem  0rem;
}
.star_4{
    position: absolute;
    inset: -2rem 65rem 0;
}
.star_5{
    position: absolute;
    inset: 10rem 78rem 0;
}
.star_6{
    position: absolute;
    inset: 2rem 4rem 0;
}
.my_name{
    color: #2B83AD;
    text-align: center;
}
.my_name p{
    font-size: 1.5rem;
    padding-right: 4rem;
    font-weight: 700;
    font-family: 'Arizonia', cursive;
    font-family: 'League Script', cursive;
}
h1{
    font-size: 3rem;
    font-family: 'Arizonia', cursive;
    font-family: 'League Script', cursive;
}
  .top_img {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% { opacity: 0; }
  }
  @keyframes blin {
    50% { opacity: 0; }
  }
.eid_img{

    display: flex;
    justify-content: space-around;
    /* padding: 6rem 0; */
}
.eid_img img{
  width: 20rem;
  object-fit: contain;
  
 
}


.img_1{
    width: 100%;
}
.image_three{
    width: 100%;

    
}
.image_three img{
    width: 100%;
    object-fit: cover;

}

.image_one  ,    .image_two {
    /* visibility: hidden; */
    display: none;
    transition: 2s ease-in-out;
}


@media screen and (max-width: 600px) {
    .eid_img{
        flex-direction: column;
        align-items: center;
    }
    .eid_img img{
        width: 15rem;
       
    }
    .star_1  {

        inset: -1rem 19rem 0;
    }
    .star_4{
        inset: -2rem 17rem 0;
    }
}

@media screen and (max-width: 767px){
    .star_4 {
        inset: -2rem 19rem 0;
    }
}
@media screen and (max-width: 1024px){
    .star_5 {
       
        inset: 19rem 20rem 0;
    }
    .star_4{
        inset: -2rem 40rem 0;
    }
    .star_3{
        inset: 16rem 34rem 0rem
    }
}