@font-face {
    font-family: 'Gandhara Suls';
    src: url('GandharaSuls.woff2') format('woff2'),
        url('GandharaSuls.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

